.home {
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    align-items: center;
    padding: 12px 24px;
}

.rooms {
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 18px;
}

.home-page-btn {
    border-radius: 50%;
    padding: 12px;
    border: 0.1px solid black;
    cursor: pointer;
    font-weight: bold;
    background-color: lightskyblue;
}