.room {
    margin: 4px;
    padding: 0 4px;
    border: 1px solid black;
    width: 50px;
}

.room-btn {
    border: 1px solid black;
    padding: 0 2px;
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: black;
    text-align: center;
}